{% for obj in object_list %}
<div class='row'>
	<div class='col-sm-6 text-center col-sm-offset-3'>
		<div class="card" style="width: 20rem;">
  			<div class="card-body">
    			<h4 class="card-title">{% if request.user.is_authenticated %}<a href='{% url "profiles:detail" username=obj.user.username %}'>{{ obj.user.username }}</a>{% else %}{{ obj.user.username }}{% endif %}</h4>
    			<h6 class="card-subtitle mb-2 text-muted">{{ obj.name }}</h6>
    			<p class="card-text">{{ obj.restaurant.title }} | {{ obj.restaurant.location}} | {{ obj.restaurant.category }}</p>
				<p>
					<ul>
						<li>
						{% for ing in obj.get_contents %}
							<span>{% if request.user.is_authenticated %}<a href='{% url "profiles:detail" username=obj.user.username %}'>{{ ing }}</a>{% else %}{{ ing }}{% endif %}</span>
						{% endfor %}
						</li>
					</ul>
				</p>
  			</div>
		</div>
	</div>
</div>
{% endfor %}
