{% extends "base.html" %}

{% block head_title %}Item | {{ block.super }}{% endblock head_title %}

{% block content %}
<div class='container'>
<h1>{{ form.instance.name }}</h1>
<h2>Location:{{ form.instance.restaurant }}</h2>

{% if form.instance.contents %}
Contents:
	<ul>
		{% for item in form.instance.get_contents %}
			<li>{{ item }}</li>
		{% endfor %}
	</ul>
{% endif %}

{% if form.instance.excludes %}
Excludes:
	<ul>
		{% for item in form.instance.get_excludes %}
			<li>{{ item }}</li>
		{% endfor %}
	</ul>
{% endif %}		
</div>
<hr/>
<h1>Make Changes</h1>
{% include 'snippets/snippet_form.html' with form=form  %}
{% endblock content %}